---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <div class="row">
              <div class="col-11">
                <h1 class="post-title">{{ page.title }}</h1>
              </div>
              <div class="col-1">
                {%- if page.github -%}
                <div class="ph-gh-icon">
                  <div class="icon" data-toggle="tooltip" title="Code Repository">
                    <a href=page.github }}"><i class="fab fa-github"></i></a>
                  </div>
                </div>
                {%- endif %}
              </div>
            </div>

            <p class="post-description">{{ page.description }}</p>
            
          </header>

          <article>
            {{ content }}
          </article>

        </div>
